@import "../../scss/globals";
@import "../../scss/variables";
@import "../../scss/mixins";

.signUp {
	display: flex;
	flex-direction: column;
	@include center-elements;
	margin: 5em 0;
	&__input-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0.5em 0;
	}
}
