@import "../../scss/globals";
@import "../../scss/variables";
@import "../../scss/mixins";

.product {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	border: 0.3em solid $grayColor;
	border-radius: 1em;
	padding: 0.5em;
	width: 26%;
	@include center-elements;
	margin: 0.5em;
	&__img-container {
		overflow: hidden;
		padding: 1.5em 0;
	}
	&__descr-container {
		display: flex;
		position: absolute;

		bottom: 0;
		width: 100%;
		justify-content: space-around;
	}
}
