@import "../../scss/globals";
@import "../../scss/variables";
@import "../../scss/mixins";

.shop {
	display: flex;
	@include center-elements;
	&__catalog {
		width: 70%;
		display: flex;
		flex-wrap: wrap;
	}
}
