@import "../../scss/globals";
@import "../../scss/variables";
@import "../../scss/mixins";

.favouriteProduct {
	display: flex;
	width: 70%;
	@include center-elements;
	justify-content: space-around;
	&__img-container {
		width: 50%;
		display: flex;
		@include center-elements;
	}
	&__descr-container {
		width: 50%;
		display: flex;
		@include center-elements;
		justify-content: flex-start;
	}
}
