@import "../../scss/globals";
@import "../../scss/variables";
@import "../../scss/mixins";

.favourites {
	display: flex;
	flex-direction: column;
	@include center-elements;
	&__list {
		width: 70%;
		display: flex;
		flex-direction: column;
		@include center-elements;
	}
	&__empty{
		display: flex;
		@include center-elements;
	}
}
